.addItem {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 400px;
  height: 40px;
  margin-top: -20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  flex-direction: row;
}

.addText {
  width: 350px;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  font-size: 15px;
  background-color: #353846;
  resize: none;
  border: none;
}

.addItemButton {
  width: 50px;
  height: inherit;
  text-align: center;
  background-color: #11693f;
  border-radius: 0 5px 5px 0;
}
